.success {
  background: $success-color !important;
  border-color: $success-color !important;
  color: white !important;

  &:hover, &:active {
    background: darken($success-color, 10) !important;
    border-color: darken($success-color, 10) !important;
  }
}
.warning {
  background: $warning-color !important;
  border-color: $warning-color !important;
  color: rgb(0, 0, 0) !important;

  &:hover, &:active {
    background: darken($warning-color, 10) !important;
    border-color: darken($warning-color, 10) !important;
  }
}