.login-form--container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .login-form {
    width: fit-content;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
