// map from ant design
$primary-color: #340C6F;
$text-color: #333;

// custom
$success-color: #198754;
$warning-color: #ffc107;
$danger-color: #ff4d4f;
$secondary-color: lightgray;
$info-color: #0dcaf0;