.table-bg-active {
  background-color: $primary-color !important;
  border-bottom: $primary-color !important;
  color: white !important;
}

.link {
  color: $primary-color;
  cursor: pointer;
}

.raw-table {
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-size: 11px;

  th,
  td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}
#pdf-element {
  * {
    font-family: 'times' !important;
  }

  i {
    font-family: 'timesi' !important;
  }

  b {
    font-family: 'timesbd' !important;
  }
}

.card-box {
  background: white;
  color: $text-color;
  
  &-primary {
    background: lighten($primary-color, 30);
    color: white;

    &:hover {
      background: lighten($primary-color, 20);
    }
  }

  padding: 15px;
  height: 110px;
  font-size: 1.2em;
  font-weight: bold;
  width: 193px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #f3f3f3;
  cursor: pointer;
  transition: 0.3s;

  i {
    font-size: 2.8em;
    margin-right: 20px;
  }
}
